.p-button-blue {
  border-color: rgba(37, 99, 235, 0.9);
  background: rgba(37, 99, 235, 0.9);
}
.p-button-blue:focus {
  box-shadow: 0 0 0 0.2rem rgb(147 197 253);
}
.p-button-yellow {
  border-color: rgba(250, 204, 21, 0.9);
  background: rgba(250, 204, 21, 0.9);
  color: rgb(0 0 0);
}
.p-button-yellow:focus {
  box-shadow: 0 0 0 0.2rem rgb(254 240 138);
}

/* @keyframes jelly {
  from { transform: scale(1, 1); }
  30%  { transform: scale(1.25, 0.75); }
  40%  { transform: scale(0.75, 1.25); }
  50%  { transform: scale(1.15, 0.85); }
  65%  { transform: scale(0.95, 1.05); }
  75%  { transform: scale(1.05, 0.95); }
  to   { transform: scale(1, 1); }
} */
