.p-button-blue {
  border-color: rgba(37, 99, 235, 0.9);
  background: rgba(37, 99, 235, 0.9);
  color: white;
}
.p-button-blue:focus {
  box-shadow: 0 0 0 0.2rem rgb(147 197 253);
}

.p-button-yellow {
  border-color: rgba(250, 204, 21, 0.9);
  background: rgba(250, 204, 21, 0.9);
  color: rgb(0 0 0);
}
.p-button-yellow:focus {
  box-shadow: 0 0 0 0.2rem rgb(254 240 138);
}

.vc-highlight-content-solid {
  @apply pointer-events-none;
}
