@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

* {
  font-size: 62.5%;
  font-family: "Jua", sans-serif;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background: var(--color-basic);
}

/* CUSTOME BOOTSTRAP-VUE */
.bg-default {
  background: #1abc9c !important;
}
