@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

* {
  font-size: 62.5%;
  font-family: "Jua", sans-serif;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background: linear-gradient(
    120deg,
    rgba(0, 93, 154, 1) 0%,
    rgba(0, 132, 182, 1) 50%,
    rgba(0, 93, 154, 1) 100%
  );
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
}

/* CUSTOME BOOTSTRAP-VUE */
.bg-default {
  background: #1abc9c !important;
}
